@import "variables";

@function anchoDisplay () {
        @return $anchoYaltoBoton*4 + 3*20;
}
@function altoDisplay () {
    @return $anchoYaltoBoton+ 25px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(100, 87, 87, 0.767);
    height: 100vh;
}

#calculadora {
    border: 4px solid black;
    box-sizing: border-box;
    padding: 24px 24px;
    border-radius: 10px;
    background-color: rgba(245, 245, 220, 0.514);
}

#display {
    width: anchoDisplay();
    height: altoDisplay();
    border: 4px solid black;
    box-sizing: border-box;
    margin-bottom: 15px;
    border-radius: 9px;
    font-size: 3em;
}

#display-resultado {
    width: anchoDisplay()*0.98;
    height: altoDisplay() / 2.2;
    box-sizing: border-box;
    border-radius: 9px;
    font-size: 4em;
    position: absolute;
    margin-top: altoDisplay() / 1.8;
    text-align: end;
}